*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.header{
    background-color: #1f2937;

    
}
.container{
     padding: 1rem 15rem 3rem 15rem;
}
.nav{
    display:flex;
    justify-content: space-between;
    max-height: 64px;
    margin-bottom: 3rem;
   
}
.logo{
    font-size: 24px;
    color: #fff;
    font-weight: bolder;
}
.links{
    display: flex;
    gap:16px;
    list-style: none;


} 

.links a{
    text-decoration: none;
    font-size: 18px;
    color: gray;;
    
}

.header-content{
    color: #fff;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    

}
.h-c1{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 1rem;
    font-size:18px;
}
.h-c1 p{
    color: gray;

}
.h-c1 h1{
    font-size: 48px;
}


.header-content img{
max-width: 500px;
max-height: 400px;

}

.button{
    background-color: #3882F6;
    font-weight: bolder;
    width:120px;
    height:30px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding:8px;
    margin-top: 20px;
}

.h-c2{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
align-items: center;
gap: 30px;

}

.h-c2 h3{
    font-size: 36px;
    font-weight: bolder;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.card img{
    border: 2px solid blue;
    border-radius: 10px;
    width:150px;
    height:150px;
    
    
}
.card{
    max-width: 150px;
    max-height:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    
}
.card p{
    text-align: center;

}

.h-c3{
    display: flex;
    background-color:#E5e7eb;
    justify-content:center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;


}
quote{
    font-size: 36px;
    color: gray;
}
.author{
    color: black;
    font-size: 24px;
    margin-top:2rem;
}

body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.content{
    display: flex;
    justify-content:center;
    align-items:center;
    flex:1;
    background-color:#3882f6;
    padding:5rem;
    border-radius: 25px;
    

}
.h1-c4{
    display: flex;
    justify-content:center;
    align-items:center;
    flex:1;
    color: white;
    margin-top: 3rem;

}
button{
    border: 1px white solid;
    background-color: #3882f6;
    color: white;
}
button:hover{
    background-color: gray;
    cursor: pointer;
}
.footer{
    background-color: #1f2937;
    display: flex;
    color: white;
    justify-content:center;
    align-items:center;


}
